@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,400italic,700,700italic);

body{
	background-color:#f44336;
}
.welcome{
	font-family:'Roboto';
	
	font-style:thin;
	
	color:white;
	
}


.goatwell{
	width: 100%;
	height: 100%;
	filter: blur(0px);
	-webkit-filter: blur(0px);
}

.arrow{
	height:100px;
	width: auto;
	margin: 100px;
	
}
.goatContainer{
	background-color:#607D8B;
	margin-bottom:100px;
	box-shadow: 0px 10px 20px black;
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Roboto', serif;
  font-size: 30px;
  color:white;
  font-style:italic;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  color:white;
  font-family:'Roboto';
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  font-family:'Roboto';
  color: white;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px grey;
}
section.module.parallax-1 {
  background-image:  url("goat1.jpg");
}
section.module.parallax-2 {
  background-image: url("goat2.jpg");
}
section.module.parallax-3 {
  background-image: url("goat3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
	
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

h6{
	color:white;
	font-family:Arial;
	font-style:italic;
}
.goatmedal{
	width: 400px;
	height:auto;
	
}
.swag{
	box-shadow: 0px 10px 20px black;
	background-color:#607D8B;
	margin-left:280px;
	margin-right:280px;
}
